*{
    margin: 0px;
    padding; 0px;
    box-sizing: border-box;
}
p {   
   color: black;
   font-size: 24px;
*}
h1 {color: black;
    font-size:50px;
    

}
div {
    width: 70%;
    height: 70%;
    
*}
a{
    text-decoration: none;
}