*{
    margin: 0px;
    padding; 0px;
    box-sizing: border-box;
}
p {   
   color: black;
   font-size: 100px;
}
*}
pp {color: black;
    font-size:43px;
    

}
div {
    width: 70%;
    height: 70%;
    
*}
a{
    text-decoration: none;
}

